      <form>
        <div class="loginlabel">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="button" class="btn btn-primary btn-lg">LOGIN</button>
        </div>
        <div class="container">
          <h2>Don't have an account yet? <a href="/signup">Sign up!</a></h2>
        </div>
      </form>
