 <form id="signupForm">
      <div class="signupHeader">
        <h1><b>Sign Up</b></h1>
        <p><b>Please fill in this form to create an account.</b></p>

        <label for="firstName"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="firstname" id="firstName" required>

        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastname" id="lastName" required>
        
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password" required>
    
      
        
        <div class="clearfix">
            <button type="submit" class="btn btn-primary btn-lg" >SIGN UP!</button>
        </div>
      </div>
    </form>

    <script src="/js/signup.js"></script>
   
